@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600&display=swap");
h1 {
  font-size: 5rem; }

h2 {
  font-size: 4.5rem; }

h3 {
  font-size: 4rem; }

h4 {
  font-size: 2.5rem; }

h5 {
  font-size: 2rem; }

p {
  font-size: 1.6rem; }

a {
  font-size: 2rem; }

@media (max-width: 991px) {
  html {
    font-size: 55% !important; } }

@media (max-width: 450px) {
  html {
    font-size: 50% !important; } }

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.43, 1.1, 0.62, 1.08); }

html {
  box-sizing: border-box;
  font-family: "Dosis", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem; }

*, *::before, *::after {
  box-sizing: inherit; }

html::-webkit-scrollbar {
  width: 1rem; }

html::-webkit-scrollbar-track {
  background-color: #fff; }

html::-webkit-scrollbar-thumb {
  background-color: #cd9452; }

body {
  max-width: 100vw;
  overflow-x: hidden; }

@keyframes fadeIn {
  0% {
    transform: translateY(-4rem) scale(0);
    opacity: 0; } }

.home .slide {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 10; }

.home .slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: -1; }

.home .slide-1 {
  background-image: url(../../images/home-slide-1.jpg); }

.home .slide-2 {
  background-image: url(../../images/home-slide-2.jpg); }

.home .slide-3 {
  background-image: url(../../images/home-slide-3.jpg); }

.home .slide__content {
  max-width: 100vw;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none; }

.home .slide span {
  color: #ccc;
  text-transform: capitalize;
  font-size: 3rem;
  padding-bottom: 2rem;
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.2s backwards; }

.home .slide h2, .home .slide h2 span {
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 8vw;
  text-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  line-height: 1; }

.home .slide h2 {
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.4s backwards; }

.home .slide a {
  color: #fff;
  text-transform: capitalize;
  padding: 1rem 3rem;
  background-color: #cd9452;
  cursor: pointer;
  animation: fadeIn 0.4s cubic-bezier(0.54, 1.3, 0.63, 1.34) 0.6s backwards; }

.home .slide a:hover {
  letter-spacing: .2rem; }

.home .swiper-slide-active .slide__content {
  display: flex; }

.swiper-button-next,
.swiper-button-prev {
  width: 5rem;
  height: 5rem;
  line-height: 5rem;
  background-color: #fff;
  color: #666; }

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #cd9452;
  color: #fff; }

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 2rem; }

@media (max-width: 768px) {
  .home .swiper-button-next,
  .home .swiper-button-prev {
    display: none; }
  .home .slide h2, .home .slide h2 span {
    font-size: 14vw; } }

.btn_menu {
  font-size: 2rem;
  color: #222; }

@media (min-width: 768px) {
  .btn_menu {
    display: none; } }

.fa-times {
  transform: rotate(180deg); }

.header-container {
  width: 100vw;
  background-color: #f5f5f5;
  position: fixed;
  z-index: 1000;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .header-container .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 2rem 5%; }
  .header-container .navbar__icon {
    font-size: 2.5rem;
    color: #cd9452; }
  .header-container .navbar__icon i {
    padding-right: 1rem; }
  .header-container .navbar__link {
    color: #666;
    text-transform: capitalize;
    padding-right: 2rem; }
  .header-container .navbar__link:hover {
    color: #cd9452; }

@media (max-width: 768px) {
  .navbar__links-container {
    padding: 1rem 5%;
    position: absolute;
    top: 99%;
    right: 0%;
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    box-shadow: none;
    width: 100vw;
    border-top: 0.1rem solid #aaa;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); }
  .navbar__link {
    padding: 1rem 0; }
  .menuActive {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); } }

@media (min-width: 768px) {
  .navbar {
    padding: 2rem 2%; } }

@media (min-width: 991px) {
  .navbar {
    padding: 2rem 5%; } }

@media (min-width: 1200px) {
  .navbar {
    padding: 2rem 10%; } }

.about {
  padding: 3vw; }
  .about .abaut__image {
    width: 100%;
    height: 100%;
    background-color: #fff; }
  .about .about__content h3 {
    color: #222;
    margin-bottom: 2rem;
    text-transform: capitalize; }
  .about .about__content p {
    color: #666;
    line-height: 3rem;
    text-transform: capitalize;
    margin-bottom: 3rem; }
  .about .about__content a {
    color: #f5f5f5;
    text-transform: capitalize;
    padding: 1rem 3rem;
    background-color: #cd9452; }
  .about .about__content a:hover {
    letter-spacing: .2rem; }
  .about .about__content .about__items {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4rem;
    width: 100%;
    gap: 2rem; }
    .about .about__content .about__items .about__item {
      width: 33%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5; }
    .about .about__content .about__items .about__item img {
      padding-top: 2rem; }

@media (max-width: 768px) {
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem; }
  .abaut__image {
    min-width: 50%; }
  .about__item {
    flex: 1 1 16rem; } }

@media (min-width: 768px) {
  .about {
    display: flex;
    align-items: center;
    gap: 2rem; }
  .abaut__image {
    min-width: 50%; }
  .about__item {
    flex: 1 1 16rem; }
  .about__item:last-of-type {
    min-width: 100%; } }

@media (min-width: 1200px) {
  .about {
    padding: 5rem 10vw;
    flex-wrap: nowrap; }
  .about__item {
    width: 33%; }
  .about__item:last-of-type {
    min-width: 33%; } }

.food {
  display: block;
  background-color: #f5f5f5;
  padding-top: 5rem; }
  .food .food-heading {
    text-align: center;
    margin-bottom: 3rem; }
    .food .food-heading span {
      font-size: 2.5rem;
      font-weight: 500;
      color: #cd9452; }
  .food .food-slider {
    width: 75%; }
  .food .food-slider__card {
    opacity: .5;
    display: flex;
    align-items: center;
    flex-direction: column;
    transform: scale(0.9);
    margin-bottom: 8rem;
    cursor: pointer; }
    .food .food-slider__card img {
      padding: 2.5rem 2rem 0rem 2rem;
      transform: scale(0.8);
      width: 70%; }
    .food .food-slider__card span {
      font-size: 2.5rem;
      color: #cd9452;
      margin: 2rem 0 3rem 0; }
  .food .swiper-slide-active {
    opacity: 1;
    transform: scale(1);
    border: 0.1rem solid #aaa;
    background-color: #fff;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); }
  .food .swiper-pagination {
    padding: 3rem 0; }
  .food .swiper-pagination-bullet-active {
    background: #cd9452; }

@media (max-width: 700px) {
  .food .food-slider {
    width: 95%; }
    .food .food-slider .food-slider__card {
      transform: scale(0.9); } }
