// Fonts
$font-web: 'Dosis', sans-serif;

// Colors
$peru:#cd9452;
$black:#222;
$white:#fff;
$light-black:#666;
$light-white:#ccc;
$light-bg:#f5f5f5;
$dark-bg:rgba(0,0,0,.7);

// Borders
$border:.1rem solid #aaa;

// Box Shadow
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
