.header-container {
    display: flex;
    justify-content: center;
    padding: 2rem 0;
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        position: sticky;
    }
    .navbar__icon {
        font-size: 2.5rem;
    }
    .navbar__link {
        text-transform: capitalize;
        color: $light-black;
    }
}