@media (max-width: 1200px){
    .navbar {
        padding: 3rem 5%;
    }
}
@media (max-width: 991px){
    html {
        font-size: 55%;
    }
    .navbar {
        padding: 3rem 2rem;
    }
}
@media (min-width: 768px){
    .btn_menu {
        display: none;
    }
}
@media (max-width: 768px){
    .header-container {
        padding: 0 2rem;
        box-shadow: none;
        border-bottom: $border;
        justify-content: initial;
    }
}
@media (max-width: 450px){
    html {
        font-size: 50%;
    }
}
